<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties">
            <value>
                loggingPattern=%-5level %logger - %msg %n
            </value>
        </property>
    </bean>

    <bean class="ch.qos.logback.ext.spring.ApplicationContextHolder"/>

    <bean id="loggerFactory" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.slf4j.LoggerFactory.getILoggerFactory"/>
    </bean>

    <bean id="consoleAppender" class="ch.qos.logback.core.ConsoleAppender" init-method="start" destroy-method="stop">
        <property name="context" ref="loggerFactory"/>
        <property name="encoder">
            <bean class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" init-method="start" destroy-method="stop">
                <property name="context" ref="loggerFactory"/>
                <property name="pattern" value="${loggingPattern}"/>
            </bean>
        </property>
    </bean>

</beans>
